@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=League+Spartan:wght@700&family=Noto+Sans:wght@100;400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body{
    background-color: #131313;
}

header {
    background-color: rgb(0, 0, 0);
}

.center {
    max-width: 1100px;
    padding: 0 2%;
    display: flex;
    margin: 0 auto;
}

/*menu começa aqui*/
.menu-container {
    width: 100%;
    justify-content: space-between;
}

.menu-container a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    line-height: 40px;
    padding: 8px 10px;
    transition: 0.8s;
    color: white;
    font-weight: bold;
}


.menu-container a:hover {
    color: #f694b0;
}

.menu-container a.active-menu {
    background-color: #DC4F76;
}

.logo {
    color: rgb(255, 255, 255);
    margin-top: 15px;
    height: auto;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
}

section.main {
    min-height: 500px;
    background-image: url('img/fundo1.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

/*texto dentro da imagem aqui*/
.chamada {
    color: black;
    position: absolute;
    left: 10%;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 h1 {
    top: 7rem;
    margin-left: 22rem ;
    font: 600 128px "League Spartan", sans-serif;
    position: relative;
    width: 1106px;
    height: 246px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.texto-info {
    margin-left: -23rem;
    color: #FFF;
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.chamada .btn-action3 {
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-left: -25rem;
    font-family: "Outfit";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: inline-block;
    padding: 10px 50px;
    background-color: var(--pink1);
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
    background: linear-gradient(90deg, #FF496A 32.76%, #EF4B55 103.24%, #9D4747 103.24%, #F63232 103.24%);
}

.btn-action3:hover{
    background-color: black;
    color: #3b1018;
}

.chamada button {
    left: 50px;
    align-items: center;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #DC4F76;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

/*começo dos cards*/
.container {
    display: flex;
    flex-wrap: wrap; 
    margin: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: "League Spartan", sans-serif;
    width: 300px;
    text-align: center;
    background-color:  #2c2c2c;
    padding: 30px 30px;
    border-radius: 15px;
    border: 1px solid #DC4F76;
    margin: 25px;
    margin-top: -1rem;
    margin-bottom: 30px;
}

.card img {
    border-color: #f694b0 4px;
    max-width: 100%;
}

.card h2 {
    color: #e7728a; 
    font-family: "League Spartan", sans-serif;
    font-size: 23px;
    margin: 5px;
}

.card p {
    font-size: 14px;
    color: white;
    font-family: "League Spartan", sans-serif;
}

.card a {
    font-family: "League Spartan", sans-serif;
    text-decoration: none;
    color: #ffffff;
}

/*botão*/
.btn-action {
    margin-left: 60px;
    margin-top: 25px; 
    background-color: #FF496A; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
}

.btn-action:hover {
    font-weight: medium;
    color: #FF496A;
    background-color: #1d1d1d;
}

/*imagens*/
.imagens {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.imagens img {
    margin: 10px; 
}

.resizable-image {
    margin-top: -25rem;
    margin-left: 50rem;
    max-width: 30%; /* A imagem nunca será maior que a largura do contêiner */
    height: auto; /* A altura será ajustada automaticamente para manter a proporção */
}

/*rodapé*/
footer {
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;}

    /* Estilo para telas menores (máximo de 768px de largura) */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }
    
    .menu-container {
        flex-direction: column;
        align-items: center;
    }
    
    .menu-container a {
        margin: 10px 0;
    }
    
    .chamada {
        left: 0;
        top: 60%;
        width: 100%;
        text-align: center;
    }
    
    h1 {
        font-size: 48px;
        margin-left: 0;
    }
    
    .texto-info {
        margin-left: 0;
        font-size: 18px;
    }

    /* Estilo para os cards */
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .card {
        width: 90%;
        margin: 20px 0;
    }
    
    .img img {
        width: 100%;
    }
    
    h2 {
        font-size: 24px;
    }
}