body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    margin: 0;
    padding: 0;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #DC4F76;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 15%;

}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.option {
    flex: 1;
    background-color: #DC4F76;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}


.option a {
    color: rgb(225, 255, 0);
    text-decoration: none; 
}


.option a:hover {
    color: #9daa6e; 
}


.option:hover {
    background-color: #89324c;
}

@media (max-width: 768px) {
    .option {
        flex-basis: calc(50% - 20px);
    }
}